.ProductCard-Container {
  width: 100vw;
}
.ProductCard-Container .ProductCard-Container-inner {
  max-width: 1800px;
  margin: 0 auto;
}

.cardComponents-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 20px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  padding: 20px 40px;
}

.CardComponents {
  height: 400px;
  width: 100%;
  border-radius: 10px;
  padding: 15px 15px;
  background-color: white;
}

.ImageCardComponents-Container {
  height: 60%;
  width: 100%;
}
.ImageCardComponents-Container .ImageCardComponents {
  background-image: url("https://i.imgflip.com/24rolu.jpg?a465840");
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}
.ImageCardComponents-Container img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.CardComponents-Detail {
  height: 40%;
  width: 100%;
}
.CardComponents-Detail .CardComponents-Detail-Title {
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
  margin-top: 15px;
  font-size: 2rem;
}
.CardComponents-Detail .CardComponents-Detail-Title .Title {
  text-decoration: none;
  color: black;
}
.CardComponents-Detail .CardComponents-Detail-Detail {
  font-size: 20px;
}

.CardComponents-Detail-Button {
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.CardComponents-Detail-Button button {
  padding: 0 1rem;
}