.Checkout-Container {
  width: 100vw;
}
.Checkout-Container .Checkout-Content {
  width: 95%;
  margin: 0 auto;
}
.Checkout-Container .Checkout-Content .Checkout-Content-Left {
  width: 70%;
  padding: 1rem;
}
.Checkout-Container .Checkout-Content .Checkout-Content-Right {
  width: 30%;
}

.Checkout-Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Checkout-Content-Left {
  background-color: red;
}

.Checkout-Content-Left-Top {
  margin: 0.8rem 0;
}

.Checkout-Content-Left-Bottom-Top {
  width: 93%;
  margin: 0 auto;
  background-color: gray;
  padding: 1rem;
}

.Checkout-Content-Left-Bottom-Top-Bottom {
  width: 40%;
  background-color: yellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.8rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.3rem 0;
}
.Checkout-Content-Left-Bottom-Top-Bottom .Bottom-Top-Bottom-Right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Checkout-Content-Left-Bottom-Top-Bottom .Bottom-Top-Bottom-Right i {
  font-size: 1.5rem;
}

.Checkout-Content-Left-Bottom-Bottom {
  width: 90%;
  background-color: yellow;
  margin: 1rem auto;
}
.Checkout-Content-Left-Bottom-Bottom p {
  font-size: 0.9rem;
}

.Left-Bottom-mid button {
  background-color: white;
  outline: none;
  border: 1px solid grey;
  padding: 0.3rem;
  font-weight: bold;
  margin: 1rem 0;
}

.Left-Bottom-Bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: yellow;
  padding: 0.3rem;
  border: 1px solid grey;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
}

.Left-Bottom-Bottom-Right-Button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Left-Bottom-Bottom-Container {
  width: 100%;
  background-color: red;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 2%;
     -moz-column-gap: 2%;
          column-gap: 2%;
}

.Left-Bottom-Bottom-Left {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.Left-Bottom-Bottom-Left .Radio-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.Left-Bottom-Bottom-Right {
  width: 90%;
  background-color: blue;
}

.Left-Bottom-Bottom-Right-Button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Left-Bottom-Right-Left button {
  font-size: 0.6rem;
}

.Left-Bottom-Right-Right button {
  font-size: 0.6rem;
  margin: 0 0.3rem;
}

.Left-Bottom-Button {
  width: 100%;
  background-color: blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.Left-Bottom-Button button {
  width: 30%;
  padding: 0.2rem 0;
}

.ProductCart-Content-Right-Content {
  margin: 0 auto;
}

.ProductCart-Content-Right-Content {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 0;
}

.Content-Right-Top {
  font-size: 2rem;
}

.Content-Right-Mid {
  padding: 1rem 0;
  border-bottom: 1px solid grey;
}

.Content-Right-Button-Top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Content-Right-Button {
  padding: 1rem 0;
}
.Content-Right-Button .Content-Right-Button-Bottom {
  margin: 1rem 0;
}
.Content-Right-Button .Content-Right-Button-Bottom button {
  width: 100%;
}

.ProductCart-Content-Left-Card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Button-Delete-Bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Button-Delete-Bottom button {
  margin: 1rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3rem;
  height: 2rem;
}
.Button-Delete-Bottom i {
  display: block;
}

.modal-container {
  position: fixed;
  width: 30rem;
  height: 20rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-color: white;
  border-radius: 20px;
  z-index: 100;
  padding: 2rem 0;
}

.modal-container-half {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.middle-top {
  margin-top: 1rem;
}
.middle-top input {
  width: 100%;
  height: 1.8rem;
}
.middle-top select {
  width: 100%;
  background-color: white;
  border: 1px solid black;
  padding: 0.3rem;
  border-radius: 20px;
}

.middle {
  margin-top: 1rem;
}
.middle button {
  width: 5rem;
  height: 2rem;
  outline: none;
  border: none;
  margin-right: 1rem;
}

.bottom {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  border-top: 1px solid grey;
  margin-top: 2rem;
}
.bottom button {
  width: 5rem;
  height: 2rem;
  background-color: orange;
  outline: none;
  border: 1px solid grey;
}

.Close {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.5em;
}
.Close button {
  border: none;
  outline: none;
  background-color: white;
}