.Card-Top {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Card-Top-Container {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: yellow;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Card-Top-Right button {
  margin: 0 20px;
}

.Card-Bottom {
  min-height: 100px;
}

.Container {
  width: 100%;
  background-color: red;
}

.Card-Bottom-Left {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Card-Bottom-Left img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.Card-Bottom-Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0;
}

.Card-Bottom-Mid {
  width: 50%;
}

.Card-Bottom-Right {
  width: 20%;
}

.modal-container {
  position: fixed;
  width: 30rem;
  min-height: 20rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-color: white;
  border-radius: 20px;
  z-index: 100;
  padding: 2rem 0;
}

.modal-container-half {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.middle-top {
  margin-top: 1rem;
}
.middle-top textarea {
  width: 100%;
  height: 2rem;
  resize: none;
}
.middle-top select {
  width: 100%;
  background-color: white;
  border: 1px solid black;
  padding: 0.3rem;
  border-radius: 20px;
}

.middle {
  margin-top: 1rem;
}
.middle button {
  width: 5rem;
  height: 2rem;
  outline: none;
  border: none;
  margin-right: 1rem;
}

.bottom {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  border-top: 1px solid grey;
  margin-top: 2rem;
}
.bottom button {
  width: 5rem;
  height: 2rem;
  background-color: orange;
  outline: none;
  border: 1px solid grey;
}

.Close {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.5em;
}
.Close button {
  border: none;
  outline: none;
  background-color: white;
}