.Product-container{
    width: 100%;
}

.Product-container-container{
    width: 90%;
    min-height: 300px;
    margin: 0 auto;
}

.Product-container-subcontainer{
    display: flex;
    justify-content: space-between;
}

.Product-container-side{
    width: 18%;
    min-height: 300px;
}

.Product-container-all{
    width: 80%;
    min-height: 300px;
}

.Container-Category-List-product{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 2%;
}

.Container-Category-List-item-product{
    .Container-Category-List-image-product{
        width: 100%;
        height: 250px;
        img{
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
        }
    }
}

.Product-container-subcontainer{
    background-color: #F7F7F7;
    padding: 2rem;
    border-radius: 40px;
}

.Lists-Egg{
    display: flex;
}

.Content-Box{
    padding: 1rem 0;
    border-bottom: 1px solid grey;
}
.Content-Box-final{
    padding: 1rem 0;
}

.Product-container-side{
    background-color: white;
    padding: .3rem 1rem;
    border-radius: 40px;
}
.Product-container-all{
    
}

.Container-Category-List-item-product{
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.Container-Category-List-Search{
    display: flex;
    justify-content: space-between;
    background-color: red;
    min-height: 3rem;
    align-items: center;
    .Container-Category-List-Search-Left{
        display: flex;
        width: 60%;
        align-items: center;
        .Search-Left{
            width: 60%;
            display: flex;
            input{
                height: 2rem;
                width: 87%;
            }
            button{
                width: 13%;
                background-color: blue;
                outline: none;
                border-radius: 20px;
            }
        }

        .Search-Right{
            display: flex;
            align-items: center;
            margin-left: 1rem;
            select{
                margin-left: 1rem;
                min-height: 2rem;
                background-color: white;
                border-radius: 7px;

            }
        }
    }
    .Container-Category-List-Search-right{
        display: flex;
        width: 40%;
    }
}

.Container-Category-List-Search-right{
    justify-content: flex-end;
    align-items: center;
    display: inline-block;
    font-size: 1.2rem;

    .Search-right-Content-left{
        display: flex;
        align-items: center;
    }
    .Search-right-Content-left-line{
        display: inline-block;
        height: 20px;
        width: 2px;
        background-color: black;
        margin: 0 10px;
    }

    .Search-right-Content-mid{
        display: flex;
        align-items: center;
        select{
            margin-left: 1rem;
            height: 2rem;
        }
    }

    .Search-right-Content-right{
        display: flex;
        align-items: center;
    }
}

.Search-right-Content-right{
    width: 40%;
    justify-content: space-around;
    button{
        width: 40%;
        height: 2rem;
        background-color: blue;
        outline: none;
        border: none;
    }
}

//================
.Container-Category-List-subtitle-product-list{
    padding: 1rem;
    text-align: left;
}

.Container-Category-List-subtitle-bottom{
    display: flex;
    justify-content: end;
    
    button{
        font-size: .6rem;
        padding: .3rem;
        border-radius: 20px;
        outline: none;
        background-color: white;
        border: 2px solid #363636;
    }
}

.Product-container{
    width: 100%;
}


